<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>lunes-0_2</string>
	<string>lunes-2_4</string>
    <string>lunes-4_6</string>
    <string>lunes-6_8</string>
    <string>lunes-8_10</string>
    <string>lunes-10_12</string>
    <string>lunes-12_14</string>
    <string>lunes-14_16</string>
    <string>lunes-16_18</string>
    <string>lunes-18_20</string>
    <string>lunes-20_22</string>
    <string>lunes-22_24</string>
    <string>martes-0_2</string>
    <string>martes-2_4</string>
    <string>martes-4_6</string>
    <string>martes-6_8</string>
    <string>martes-8_10</string>
    <string>martes-10_12</string>
    <string>martes-12_14</string>
    <string>martes-14_16</string>
    <string>martes-16_18</string>
    <string>martes-18_20</string>
    <string>martes-20_22</string>
    <string>martes-22_24</string>
    <string>miércoles-0_2</string>
    <string>miércoles-2_4</string>
    <string>miércoles-4_6</string>
    <string>miércoles-6_8</string>
    <string>miércoles-8_10</string>
    <string>miércoles-10_12</string>
    <string>miércoles-12_14</string>
    <string>miércoles-14_16</string>
    <string>miércoles-16_18</string>
    <string>miércoles-18_20</string>
    <string>miércoles-20_22</string>
    <string>miércoles-22_24</string>
    <string>jueves-0_2</string>
    <string>jueves-2_4</string>
    <string>jueves-4_6</string>
    <string>jueves-6_8</string>
    <string>jueves-8_10</string>
    <string>jueves-10_12</string>
    <string>jueves-12_14</string>
    <string>jueves-14_16</string>
    <string>jueves-16_18</string>
    <string>jueves-18_20</string>
    <string>jueves-20_22</string>
    <string>jueves-22_24</string>
    <string>viernes-0_2</string>
    <string>viernes-2_4</string>
    <string>viernes-4_6</string>
    <string>viernes-6_8</string>
    <string>viernes-8_10</string>
    <string>viernes-10_12</string>
    <string>viernes-12_14</string>
    <string>viernes-14_16</string>
    <string>viernes-16_18</string>
    <string>viernes-18_20</string>
    <string>viernes-20_22</string>
    <string>viernes-22_24</string>
    <string>sábado-0_2</string>
    <string>sábado-2_4</string>
    <string>sábado-4_6</string>
    <string>sábado-6_8</string>
    <string>sábado-8_10</string>
    <string>sábado-10_12</string>
    <string>sábado-12_14</string>
    <string>sábado-14_16</string>
    <string>sábado-16_18</string>
    <string>sábado-18_20</string>
    <string>sábado-20_22</string>
    <string>sábado-22_24</string>
    <string>domingo-0_2</string>
    <string>domingo-2_4</string>
    <string>domingo-0_2</string>
    <string>domingo-6_8</string>
    <string>domingo-8_10</string>
    <string>domingo-10_12</string>
    <string>domingo-12_14</string>
    <string>domingo-14_16</string>
    <string>domingo-16_18</string>
    <string>domingo-18_20</string>
    <string>domingo-20_22</string>
    <string>domingo-22_24</string>
</array>
</plist>
